body
{
    font-size: 0.9em;
    font-family: Lato;
    background-color: #FAEBD7;
    margin: 0;
    overflow: hidden;
}
button
{
    width: 90px;
    margin-top: 8px;
}
canvas
{
    background-color: #0984e3;
    display:block;
    font-family: Lato;
}
#sudoku
{
    margin-left:auto;
    margin-right:auto;
    width: 945px;
    height: 650px;
    background-color: #fefefe;
    padding:23px;
}
#help
{
    top:60px;
    font-size: 10px;
    width: 220px;
    float: right;
}
#main
{
    top:60px;
    padding: 10px;
}
#big
{
    font-size: 32px;
    color:#448844;
}
#small
{
    display:block;
    font-size: 10px;
}
#help li
{
    padding-bottom: 6px;
}
h2
{
    color: #444444;
    text-align:center;
}
td.help li
{
    padding-bottom: 6px;
    font-size: 0.7em;
}
#button-div{
    position: relative;
    margin:30px;
}
#button-div button{
    border:none;
    width: 140px;
    height:45px;
    border-radius: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: Lato;
    font-weight: bold;
    letter-spacing: 4px;
    color: white;
    background-color: #3498db;
    cursor: pointer;
}
#button-div button:hover{
    background-color: white;
    color: #3498db; 
}